.App {
  margin: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: left;
}

label {
  display: block;
  font-weight: bold;
  color: darkslategray;
  margin: 0.25rem 0 0.5rem 0;
}

textarea {
  resize: none;
  padding: 0.5rem;
  width: 400px;
  font-size: 1rem;
  border: 1px solid darkslategray;
  border-radius: 2px;
}

.termsBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem 0;
  text-align: left;
}

.tagInput {
  display: block;
  background-color: darkslategrey;
  color: white;
  border-radius: 4px;
}